@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold; }

object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img,
ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit; }

b, strong, th {
  font-weight: bold; }

i, em {
  font-style: italic; }

sub, sup {
  font-size: 75%; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 20px 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
  outline: none; }

ol, ul, li {
  padding: 0;
  list-style: none;
  margin: 0; }

label {
  font-weight: normal; }

input[type="text"], input[type="email"], input[type="password"] {
  padding-left: 12px;
  padding-right: 12px; }

select {
  padding-left: 8px;
  cursor: pointer; }

input[type="number"] {
  padding-left: 5px; }

textarea {
  padding: 8px 12px 5px 12px; }

input, textarea, select, button, a, button:hover, button:active, button:focus {
  outline: none; }

button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer; }

* {
  padding-left: constant(safe-area-inset-left);
  padding-right: constant(safe-area-inset-right);
  padding-bottom: constant(safe-area-inset-bottom);
  padding-top: constant(safe-area-inset-top); }

img {
  max-width: 100%;
  vertical-align: middle;
  -o-object-fit: cover;
  object-fit: cover; }

.pad-0 {
  padding-left: 0px;
  padding-right: 0px; }

.pad-5 {
  padding-left: 5px;
  padding-right: 5px; }

.pad-8 {
  padding-left: 8px;
  padding-right: 8px; }

.pad-10 {
  padding-left: 10px;
  padding-right: 10px; }

.margin-auto {
  margin-left: auto;
  margin-right: auto; }

.col-mar-0 {
  margin-left: 0px;
  margin-right: 0px; }
  .col-mar-0 [class*="col-"], .col-mar-0 .col {
    padding-left: 0px;
    padding-right: 0px; }

.col-mar-5 {
  margin-left: -5px;
  margin-right: -5px; }
  .col-mar-5 [class*="col-"], .col-mar-5 .col {
    padding-left: 5px;
    padding-right: 5px; }

.col-mar-8 {
  margin-left: -8px;
  margin-right: -8px; }
  .col-mar-8 [class*="col-"], .col-mar-8 .col {
    padding-left: 8px;
    padding-right: 8px; }

.col-mar-10 {
  margin-left: -10px;
  margin-right: -10px; }
  .col-mar-10 [class*="col-"], .col-mar-10 .col {
    padding-left: 10px;
    padding-right: 10px; }

.fx-mid {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.ifx-top {
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start; }

.ifx-bot {
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end; }

.ifx-mid {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center; }

.relative {
  position: relative; }

.static {
  position: static; }

.absolute {
  position: absolute; }

.clearfix:before, .clearfix:after {
  content: '';
  display: block;
  clear: both; }

.bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.ic {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }

.smooth {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden; }

@media all and (min-width: 1200px) {
  .container {
    max-width: 1200px; } }

@media all and (max-width: 991px) {
  .md-pad-7 {
    margin: 0 -7px; }
    .md-pad-7 > [class^="col-"] {
      padding: 0 7px; }
  .md-pad-5 {
    margin: 0 -5px; }
    .md-pad-5 > [class^="col-"] {
      padding: 0 5px; } }

@media all and (max-width: 767px) {
  .sm-pad-7 {
    margin: 0 -7px; }
    .sm-pad-7 > [class^="col-"] {
      padding: 0 7px; }
  .sm-pad-5 {
    margin: 0 -5px; }
    .sm-pad-5 > [class^="col-"] {
      padding: 0 5px; }
  .tb-responsive {
    display: block; }
    .tb-responsive tbody, .tb-responsive tfoot, .tb-responsive tr, .tb-responsive th, .tb-responsive td {
      display: block; }
    .tb-responsive thead {
      display: none; }
    .tb-responsive tr:nth-child(2n) {
      background: #f5f5f5; }
    .tb-responsive td {
      position: relative;
      padding: 10px 10px 10px 50%; }
      .tb-responsive td:before {
        content: attr(data-title);
        position: absolute;
        left: 0;
        width: 50%;
        padding-right: 15px; } }

@media all and (max-width: 575px) {
  .xs-pad-7 {
    margin: 0 -7px; }
    .xs-pad-7 > [class^="col-"] {
      padding: 0 7px; }
  .xs-pad-5 {
    margin: 0 -5px; }
    .xs-pad-5 > [class^="col-"] {
      padding: 0 5px; } }

.slick-list {
  margin: 0 -15px; }
  .slick-list .slick-slide {
    margin: 0 15px; }

.slick-arrow {
  cursor: pointer;
  z-index: 1;
  text-align: center;
  position: absolute; }

.slick-dots {
  text-align: center; }
  .slick-dots button {
    display: none; }
  .slick-dots li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border: solid 2px #666;
    border-radius: 50%;
    cursor: pointer; }
    .slick-dots li.slick-active {
      background: #666; }

.i-select {
  position: relative; }
  .i-select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 1px;
    -o-text-overflow: '';
    text-overflow: '';
    width: 100%; }

.s-content {
  word-break: break-word; }
  .s-content a[href] {
    color: #007bff; }
    .s-content a[href]:hover {
      text-decoration: underline; }
  .s-content a, .s-content a:hover, .s-content a:focus, .s-content a:active {
    text-decoration: underline; }
  .s-content ol {
    list-style: decimal;
    margin-left: 15px;
    margin-bottom: 10px; }
  .s-content ul {
    list-style: initial;
    margin-left: 15px;
    margin-bottom: 10px; }
  .s-content li {
    list-style: inherit;
    margin-bottom: 5px; }
  .s-content p {
    margin-bottom: 10px; }
  .s-content img {
    max-width: 100%;
    height: auto !important;
    margin: 10px auto;
    object_fit: initial; }
  .s-content .alignleft, .s-content img.alignleft {
    margin-right: 1.5em;
    display: inline;
    float: left; }
  .s-content .alignright, .s-content img.alignright {
    margin-left: 1.5em;
    display: inline;
    float: right; }
  .s-content .aligncenter, .s-content img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both; }
  .s-content blockquote.left {
    margin-right: 20px;
    text-align: right;
    margin-left: 0;
    width: 33%;
    float: left; }
  .s-content blockquote.right {
    margin-left: 20px;
    text-align: left;
    margin-right: 0;
    width: 33%;
    float: right; }
  .s-content table, .s-content iframe {
    max-width: 100%;
    max-width: calc(100vw - 30px);
    margin: auto; }
  .s-content iframe {
    display: block; }
  .s-content h1, .s-content h2, .s-content h3, .s-content h4, .s-content h5, .s-content h6 {
    font-weight: bold; }
  .s-content h1 {
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em; }
  .s-content h2 {
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em; }
  .s-content h3 {
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em; }
  .s-content h4 {
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1.33em; }
  .s-content h5 {
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em; }
  .s-content h6 {
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em; }

.hc-upload {
  position: relative; }
  .hc-upload .hc-del {
    position: absolute;
    width: 24px;
    height: 24px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 21px;
    line-height: 1;
    text-align: center;
    border-radius: 50%;
    top: -12px;
    right: -12px;
    cursor: pointer; }
    .hc-upload .hc-del:hover {
      background: rgba(0, 0, 0, 0.85); }

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: #2e2e2e; }

.wrap {
  overflow: hidden; }

.delay02 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

.delay03 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.delay04 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }

.delay05 {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }

.delay06 {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s; }

.delay07 {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s; }

.delay08 {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s; }

.delay09 {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s; }

.delay10 {
  -webkit-animation-delay: 1.0s;
  animation-delay: 1.0s; }

.delay12 {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s; }

.delay14 {
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s; }

.delay16 {
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s; }

.delay18 {
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s; }

.acd-drop:after {
  content: '\002B'; }

.acd-drop.active:after {
  content: '\2212'; }

@media all and (min-width: 992px) {
  .m-nav, .m-nav-over {
    display: none !important; } }

@media all and (max-width: 991px) {
  .m-nav-over {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 998;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out; }
  .m-nav {
    display: block;
    position: fixed;
    top: 0;
    width: 280px;
    bottom: 0;
    z-index: 999;
    color: #fff;
    background: #333;
    -webkit-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    left: -280px; }
    .m-nav.active {
      -webkit-box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.15);
      box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.15);
      left: 0; }
      .m-nav.active .m-nav-close {
        visibility: visible;
        opacity: 1; }
    .m-nav .m-nav-close {
      position: absolute;
      top: 0;
      width: 40px;
      height: 40px;
      left: 100%;
      background: #444;
      outline: none;
      color: #fff;
      font-size: 28px;
      cursor: pointer;
      -webkit-transition: inherit;
      -o-transition: inherit;
      transition: inherit;
      opacity: 0;
      visibility: hidden; }
    .m-nav .nav-ct {
      height: 100%;
      overflow: auto; }
    .m-nav a {
      display: block;
      font-size: 14px;
      font-family: arial;
      line-height: 20px;
      padding: 10px 15px 10px 18px;
      border-bottom: solid 1px #444; }
    .m-nav ul ul {
      background: rgba(255, 255, 255, 0.04);
      display: none; }
      .m-nav ul ul a {
        padding-left: 36px; }
      .m-nav ul ul ul {
        padding-left: 54px; }
    .m-nav .acd-drop {
      width: 40px;
      height: 40px;
      float: right;
      position: relative;
      z-index: 1;
      font-size: 20px;
      color: inherit;
      font-family: monospace;
      outline: none;
      cursor: pointer;
      border-left: solid 1px #444;
      background: rgba(255, 255, 255, 0.04); } }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

@font-face {
  font-family: 'SFDisplay-regular';
  src: url("../../fonts/font-awesome/fonts/SF-regular.ttf") format("ttf"); }

body {
  margin: 0;
  padding: 0;
  font-family: SFDisplay-regular,sans-serif;
  font-size: 13px;
  font-weight: 400;
  font-style: normal; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.wrap-noti {
  width: 100%;
  overflow: hidden;
  padding-top: 20px; }
  .wrap-noti .top-title {
    color: #183fd8;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px; }
  .wrap-noti .notifi {
    padding: 25px 0;
    border-top: .1px solid #f6f8f9; }
    .wrap-noti .notifi .item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      padding: 12px 10px;
      border-bottom: .1px solid #f6f8f9;
      cursor: pointer; }
      .wrap-noti .notifi .item .mail {
        margin-right: 15px;
        position: relative; }
        .wrap-noti .notifi .item .mail a img {
          max-width: 100%;
          height: auto; }
        .wrap-noti .notifi .item .mail a .dot-red {
          width: 10px;
          height: 10px;
          background-color: #ff5e14;
          display: block;
          border: 1px solid #ff5e14;
          border-radius: 50%;
          position: absolute;
          top: 0;
          right: 0; }
      .wrap-noti .notifi .item .text .top {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        .wrap-noti .notifi .item .text .top .title a {
          color: #1c1e21;
          font-size: 17.5px;
          font-weight: bold;
          margin-top: -8px;
          overflow: hidden;
          -webkit-line-clamp: 1;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis;
          width: 208px; }
        .wrap-noti .notifi .item .text .top .time {
          color: #545a63;
          font-size: 14.6px;
          margin-top: -8px; }
      .wrap-noti .notifi .item .text .desc {
        font-size: 14px;
        color: #545a63;
        line-height: 1.3;
        overflow: hidden;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        width: 300px; }

@media (min-width: 376px) {
  .wrap-noti {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

@font-face {
  font-family: 'SFDisplay-regular';
  src: url("../../fonts/font-awesome/fonts/SF-regular.ttf") format("ttf"); }

body {
  margin: 0;
  padding: 0;
  font-family: SFDisplay-regular,sans-serif;
  font-size: 13px;
  font-weight: 400;
  font-style: normal; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.wrap-login {
  width: 100%;
  overflow: hidden; }
  .wrap-login .banner {
    position: relative;
    margin-bottom: 75px; }
    .wrap-login .banner .img-banner img {
      width: 100%;
      height: auto; }
    .wrap-login .banner .logo {
      display: inline-block;
      position: absolute;
      bottom: -45px;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0); }
      .wrap-login .banner .logo img {
        width: 100%;
        height: auto; }
  .wrap-login .form {
    padding: 0 40px; }
    .wrap-login .form .inputWithIcon {
      position: relative; }
      .wrap-login .form .inputWithIcon input[type="text"] {
        width: 100%;
        border: none;
        border-bottom: .1px solid gray;
        margin-bottom: 30px;
        padding: 10px 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        padding-left: 25px; }
        .wrap-login .form .inputWithIcon input[type="text"]#last {
          margin-bottom: 40px; }
      .wrap-login .form .inputWithIcon .icon-name {
        max-width: 100%;
        height: auto;
        position: absolute;
        left: 0;
        top: 8px; }
      .wrap-login .form .inputWithIcon .icon-pass {
        max-width: 100%;
        height: auto;
        position: absolute;
        left: 0;
        top: 8px; }
      .wrap-login .form .inputWithIcon .icon-hide {
        max-width: 100%;
        height: auto;
        position: absolute;
        right: 0;
        top: 10px; }
    .wrap-login .form .login {
      display: block;
      width: 100%;
      background-color: #183fd8;
      color: white;
      font-size: 13.2px;
      text-transform: uppercase;
      padding: 15px 0;
      text-align: center;
      border-radius: 25px;
      margin-bottom: 25px; }
    .wrap-login .form .caution {
      color: #545c5f;
      font-size: 14.6px;
      text-align: center;
      margin-bottom: 175px; }
      .wrap-login .form .caution span {
        color: #48d2ff; }

@media (min-width: 376px) {
  .wrap-login {
    width: 50%;
    margin: 0 auto; }
    .wrap-login .form .login {
      width: 50%;
      margin: 0 auto;
      margin-bottom: 25px; } }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

@font-face {
  font-family: 'SFDisplay-regular';
  src: url("../../fonts/font-awesome/fonts/SF-regular.ttf") format("ttf"); }

@font-face {
  font-family: 'SFDisplay-bold';
  src: url("../../fonts/font-awesome/fonts/SF-bold.ttf") format("ttf"); }

@font-face {
  font-family: 'SFDisplay-medium';
  src: url("../../fonts/font-awesome/fonts/SF-medium.ttf") format("ttf"); }

body {
  margin: 0;
  padding: 0;
  font-family: SFDisplay-regular,sans-serif;
  font-size: 13px;
  font-weight: 400;
  font-style: normal; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.wrap-home {
  width: 100%;
  overflow: hidden; }
  .wrap-home .header {
    padding: 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 25px; }
    .wrap-home .header .home {
      color: #183fd8;
      font-size: 28.5px;
      font-weight: bold; }
    .wrap-home .header .icon {
      position: relative; }
      .wrap-home .header .icon a img {
        max-width: 100%;
        height: auto; }
      .wrap-home .header .icon a .dot-red {
        width: 10px;
        height: 10px;
        background-color: #ff5e14;
        display: block;
        border: 1px solid #ff5e14;
        border-radius: 50%;
        position: absolute;
        top: 0;
        right: 0; }
  .wrap-home .actions {
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    border-top: .1px solid #f3f5f6;
    border-bottom: .1px solid #f3f5f6;
    color: #545c5f;
    margin-bottom: 12px; }
    .wrap-home .actions .add-img a .icon {
      margin-right: 5px; }
      .wrap-home .actions .add-img a .icon img {
        max-width: 100%;
        height: auto; }
    .wrap-home .actions .add-video a .icon {
      margin-right: 5px; }
      .wrap-home .actions .add-video a .icon img {
        max-width: 100%;
        height: auto; }
  .wrap-home .message {
    padding-bottom: 5px; }
    .wrap-home .message .title {
      color: #545c5f;
      font-size: 15px;
      font-weight: 600;
      margin-bottom: 10px;
      padding-left: 10px; }
    .wrap-home .message .item {
      padding: 8px 10px 20px 10px; }
      .wrap-home .message .item.first {
        background-color: #f2f8fe; }
      .wrap-home .message .item .top {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 10px; }
        .wrap-home .message .item .top .infor {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          .wrap-home .message .item .top .infor .logo {
            margin-right: 10px; }
            .wrap-home .message .item .top .infor .logo img {
              max-width: 100%;
              height: auto; }
          .wrap-home .message .item .top .infor .names .name {
            font-size: 15px;
            font-weight: bold; }
          .wrap-home .message .item .top .infor .names .role {
            color: #545a63; }
        .wrap-home .message .item .top .time {
          color: #545a63; }
      .wrap-home .message .item .bottom {
        color: #000511;
        font-size: 15px;
        font-weight: 600; }
  .wrap-home .line {
    width: 100%;
    height: 8px;
    background-color: #dddedf; }
  .wrap-home .activity {
    padding-top: 10px;
    padding-bottom: 40px; }
    .wrap-home .activity .title-acti {
      color: #545c5f;
      font-size: 15px;
      font-weight: 600;
      padding-left: 10px;
      margin-bottom: 22px; }
    .wrap-home .activity .item {
      padding: 0 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
      .wrap-home .activity .item .point {
        margin-right: 10px; }
        .wrap-home .activity .item .point img {
          max-width: 100%;
          height: auto; }
      .wrap-home .activity .item .desc .time {
        color: #545a63; }
      .wrap-home .activity .item .desc .title {
        color: #000511;
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 13px; }
      .wrap-home .activity .item .desc .image img {
        width: 100%;
        height: auto; }
  .wrap-home .taskbar {
    width: 100%;
    background-color: #183fd8;
    padding: 10px 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .wrap-home .taskbar div a img {
      max-width: 100%;
      height: auto; }

@media (min-width: 376px) {
  .wrap-home {
    width: 50%;
    margin: 0 auto; } }
