*{
	box-sizing:border-box;
}
a{
	text-decoration: none;
	&:hover{
		text-decoration: none;
	}
}
@font-face{
	font-family: 'SFDisplay-regular';
	src:url('../../fonts/font-awesome/fonts/SF-regular.ttf') format('ttf');
}
@font-face{
	font-family: 'SFDisplay-bold';
	src:url('../../fonts/font-awesome/fonts/SF-bold.ttf') format('ttf');
}
@font-face{
	font-family: 'SFDisplay-medium';
	src:url('../../fonts/font-awesome/fonts/SF-medium.ttf') format('ttf');
}
body{
	margin: 0;
	padding: 0;
	font-family:SFDisplay-regular,sans-serif;
	font-size: 13px;
	font-weight: 400;
	font-style: normal;
}
ul{
	list-style-type: none;
	margin: 0;
	padding:0;
}
.wrap-home{
	width: 100%;
	overflow: hidden;
	.header{
		padding:0 10px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 25px;
		.home{
			color: #183fd8;
			font-size: 28.5px;
			font-weight: bold;
		}
		.icon{
			position: relative;
			a{
				img{
					max-width: 100%;
					height: auto;
				}
				.dot-red{
					width:10px;
					height: 10px;
					background-color:#ff5e14;
					display: block;
					border:1px solid #ff5e14;
					border-radius:50%;
					position:absolute;
					top: 0;
					right: 0;
				}
			}
		}
	}
	.actions{
		padding:10px;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		border-top:.1px solid #f3f5f6;
		border-bottom:.1px solid #f3f5f6;
		color: #545c5f;
		margin-bottom: 12px;
		.add-img{
			a{
				.icon{
					margin-right: 5px;
					img{
						max-width: 100%;
						height: auto;
					}
				}
			}
		}
		.add-video{
			a{
				.icon{
					margin-right: 5px;
					img{
						max-width: 100%;
						height: auto;
					}
				}
			}
		}
	}
	.message{
		padding-bottom:5px;
		.title{
			color: #545c5f;
			font-size: 15px;
			font-weight: 600;
			margin-bottom: 10px;
			padding-left:10px;
		}
		.item{
			padding:8px 10px 20px 10px;
			&.first{
				background-color:#f2f8fe;
			}
			.top{
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items:center;
				margin-bottom: 10px;
				.infor{
					display: flex;
					flex-direction: row;
					align-items:center;
					.logo{
						margin-right: 10px;
						img{
							max-width: 100%;
							height: auto;
						}
					}
					.names{
						.name{
							font-size: 15px;
							font-weight: bold;
						}
						.role{
							color: #545a63;
						}
					}
				}
				.time{
					color: #545a63;
				}
			}
			.bottom{
				color: #000511;
				font-size: 15px;
				font-weight: 600;
			}
		}
	}
	.line{
		width: 100%;
		height: 8px;
		background-color:#dddedf;
	}
	.activity{
		padding-top:10px;
		padding-bottom:40px;
		.title-acti{
			color: #545c5f;
			font-size: 15px;
			font-weight: 600;
			padding-left:10px;
			margin-bottom: 22px;
		}
		.item{
			padding:0 10px;
			display: flex;
			flex-direction: row;
			.point{
				margin-right: 10px;
				img{
					max-width: 100%;
					height: auto;
				}
			}
			.desc{
				.time{
					color: #545a63;
				}
				.title{
					color: #000511;
					font-size: 15px;
					font-weight: 600;
					margin-bottom: 13px;
				}
				.image{
					img{
						width: 100%;
						height: auto;
					}
				}
			}
		}
	}
	.taskbar{
		width: 100%;
		background-color:#183fd8;
		padding:10px 35px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		div{
			a{
				img{
					max-width: 100%;
					height: auto;
				}
			}
		}
	}
}
@media (min-width: 376px) {
	.wrap-home{
		width: 50%;
		margin: 0 auto;
	}
}