* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

@font-face {
  font-family: 'SFDisplay-regular';
  src: url("../../fonts/font-awesome/fonts/SF-regular.ttf") format("ttf"); }

@font-face {
  font-family: 'SFDisplay-bold';
  src: url("../../fonts/font-awesome/fonts/SF-bold.ttf") format("ttf"); }

@font-face {
  font-family: 'SFDisplay-medium';
  src: url("../../fonts/font-awesome/fonts/SF-medium.ttf") format("ttf"); }

body {
  margin: 0;
  padding: 0;
  font-family: SFDisplay-regular,sans-serif;
  font-size: 13px;
  font-weight: 400;
  font-style: normal; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.wrap-home {
  width: 100%;
  overflow: hidden; }
  .wrap-home .header {
    padding: 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 25px; }
    .wrap-home .header .home {
      color: #183fd8;
      font-size: 28.5px;
      font-weight: bold; }
    .wrap-home .header .icon a img {
      max-width: 100%;
      height: auto; }
  .wrap-home .actions {
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    border-top: .1px solid #f3f5f6;
    border-bottom: .1px solid #f3f5f6;
    color: #545c5f;
    margin-bottom: 12px; }
    .wrap-home .actions .add-img a .icon {
      margin-right: 5px; }
      .wrap-home .actions .add-img a .icon img {
        max-width: 100%;
        height: auto; }
    .wrap-home .actions .add-video a .icon {
      margin-right: 5px; }
      .wrap-home .actions .add-video a .icon img {
        max-width: 100%;
        height: auto; }
  .wrap-home .message {
    padding-bottom: 5px; }
    .wrap-home .message .title {
      color: #545c5f;
      font-size: 15px;
      font-weight: 600;
      margin-bottom: 10px;
      padding-left: 10px; }
    .wrap-home .message .item {
      padding: 8px 10px 20px 10px; }
      .wrap-home .message .item.first {
        background-color: #f2f8fe; }
      .wrap-home .message .item .top {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 10px; }
        .wrap-home .message .item .top .infor {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          .wrap-home .message .item .top .infor .logo {
            margin-right: 10px; }
            .wrap-home .message .item .top .infor .logo img {
              max-width: 100%;
              height: auto; }
          .wrap-home .message .item .top .infor .names .name {
            font-size: 15px;
            font-weight: bold; }
          .wrap-home .message .item .top .infor .names .role {
            color: #545a63; }
        .wrap-home .message .item .top .time {
          color: #545a63; }
      .wrap-home .message .item .bottom {
        color: #000511;
        font-size: 15px;
        font-weight: 600; }
  .wrap-home .line {
    width: 100%;
    height: 8px;
    background-color: #dddedf; }
  .wrap-home .activity {
    padding-top: 10px;
    padding-bottom: 40px; }
    .wrap-home .activity .title-acti {
      color: #545c5f;
      font-size: 15px;
      font-weight: 600;
      padding-left: 10px;
      margin-bottom: 22px; }
    .wrap-home .activity .item {
      padding: 0 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
      .wrap-home .activity .item .point {
        margin-right: 10px; }
        .wrap-home .activity .item .point img {
          max-width: 100%;
          height: auto; }
      .wrap-home .activity .item .desc .time {
        color: #545a63; }
      .wrap-home .activity .item .desc .title {
        color: #000511;
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 13px; }
      .wrap-home .activity .item .desc .image img {
        width: 100%;
        height: auto; }
  .wrap-home .taskbar {
    width: 100%;
    background-color: #183fd8;
    padding: 10px 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .wrap-home .taskbar div a img {
      max-width: 100%;
      height: auto; }

@media (min-width: 376px) {
  .wrap-home {
    width: 50%;
    margin: 0 auto; } }
