* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

@font-face {
  font-family: 'SFDisplay-regular';
  src: url("../../fonts/font-awesome/fonts/SF-regular.ttf") format("ttf"); }

body {
  margin: 0;
  padding: 0;
  font-family: SFDisplay-regular,sans-serif;
  font-size: 13px;
  font-weight: 400;
  font-style: normal; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.wrap-noti {
  width: 100%;
  overflow: hidden;
  padding-top: 20px; }
  .wrap-noti .top-title {
    color: #183fd8;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px; }
  .wrap-noti .notifi {
    padding: 25px 0;
    border-top: .1px solid #f6f8f9; }
    .wrap-noti .notifi .item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      padding: 12px 10px;
      border-bottom: .1px solid #f6f8f9;
      cursor: pointer; }
      .wrap-noti .notifi .item .mail {
        margin-right: 15px; }
        .wrap-noti .notifi .item .mail img {
          max-width: 100%;
          height: auto; }
      .wrap-noti .notifi .item .text .top {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        .wrap-noti .notifi .item .text .top .title {
          color: #1c1e21;
          font-size: 17.5px;
          font-weight: bold;
          margin-top: -8px;
          overflow: hidden;
          -webkit-line-clamp: 1;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis;
          width: 208px; }
        .wrap-noti .notifi .item .text .top .time {
          color: #545a63;
          font-size: 14.6px;
          margin-top: -8px; }
      .wrap-noti .notifi .item .text .desc {
        font-size: 14px;
        color: #545a63;
        line-height: 1.3;
        overflow: hidden;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        width: 300px; }

@media (min-width: 376px) {
  .wrap-noti {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }
