*{
	box-sizing:border-box;
}
a{
	text-decoration: none;
	&:hover{
		text-decoration: none;
	}
}
@font-face{
	font-family: 'SFDisplay-regular';
	src:url('../../fonts/font-awesome/fonts/SF-regular.ttf') format('ttf');
}
body{
	margin: 0;
	padding: 0;
	font-family:SFDisplay-regular,sans-serif;
	font-size: 13px;
	font-weight: 400;
	font-style: normal;
}
ul{
	list-style-type: none;
	margin: 0;
	padding:0;
}
.wrap-noti{
	width: 100%;
	overflow: hidden;
	padding-top:20px;
	.top-title{
		color: #183fd8;
		font-weight: bold;
		font-size: 20px;
		text-align: center;
		margin-bottom: 30px;
	}
	.notifi{
		padding:25px 0;
		border-top:.1px solid #f6f8f9;
		.item{
			display: flex;
			flex-direction: row;
			padding: 12px 10px;
			border-bottom:.1px solid #f6f8f9;
			cursor: pointer;
			.mail{
				margin-right: 15px;
				position:relative;
				a{
					img{
						max-width: 100%;
						height: auto;
					}
					.dot-red{
						width:10px;
						height: 10px;
						background-color:#ff5e14;
						display: block;
						border:1px solid #ff5e14;
						border-radius:50%;
						position:absolute;
						top: 0;
						right: 0;
					}
				}
			}
			.text{
				.top{
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					.title{
						a{
							color: #1c1e21;
							font-size: 17.5px;
							font-weight: bold;
							margin-top: -8px;
							overflow: hidden;
						    -webkit-line-clamp: 1;
						    display: -webkit-box;
						    -webkit-box-orient: vertical;
						    text-overflow: ellipsis;
						    width: 208px;
						}
					}
					.time{
						color: #545a63;
						font-size: 14.6px;
						margin-top: -8px;
					}
				}
				.desc{
					font-size: 14px;
					color: #545a63;
					line-height: 1.3;
					overflow: hidden;
				    -webkit-line-clamp: 2;
				    display: -webkit-box;
				    -webkit-box-orient: vertical;
				    text-overflow: ellipsis;
				    width: 300px;
				}
			}
		}
	}
}
@media (min-width: 376px) {
	.wrap-noti{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}