*{
	box-sizing:border-box;
}
a{
	text-decoration: none;
	&:hover{
		text-decoration: none;
	}
}
@font-face{
	font-family: 'SFDisplay-regular';
	src:url('../../fonts/font-awesome/fonts/SF-regular.ttf') format('ttf');
}
body{
	margin: 0;
	padding: 0;
	font-family:SFDisplay-regular,sans-serif;
	font-size: 13px;
	font-weight: 400;
	font-style: normal;
}
ul{
	list-style-type: none;
	margin: 0;
	padding:0;
}
.wrap-login{
	width: 100%;
	overflow: hidden;
	.banner{
		position: relative;
		margin-bottom: 75px;
		.img-banner{
			img{
				width: 100%;
				height: auto;
			}
		}
		.logo{
			display: inline-block;
			position:absolute;
			bottom:-45px;
			left: 50%;
			transform: translate(-50%, 0);
			img{
				width: 100%;
				height: auto;
			}
		}
	}
	.form{
		padding:0 40px;
		.inputWithIcon{
			position:relative;
			input[type="text"]{
				width: 100%;
				border: none;
				border-bottom:.1px solid gray;
				margin-bottom: 30px;
				padding:10px 0;
				box-sizing: border-box;
  				transition: 0.3s;
  				padding-left:25px;
  				&#last{
  					margin-bottom: 40px;
  				}
			}
			.icon-name{
				max-width: 100%;
				height: auto;
				position:absolute;
				left:0;
				top: 8px;

			}
			.icon-pass{
				max-width: 100%;
				height: auto;
				position:absolute;
				left:0;
				top: 8px;
			}
			.icon-hide{
				max-width: 100%;
				height: auto;
				position:absolute;
				right:0;
				top: 10px;
			}
		}
		.login{
			display: block;
			width: 100%;
			background-color: #183fd8;
			color: white;
			font-size: 13.2px;
			text-transform: uppercase;
			padding:15px 0;
			text-align: center;
			border-radius:25px;
			margin-bottom: 25px;
		}
		.caution{
			color: #545c5f;
			font-size: 14.6px;
			text-align: center;
			margin-bottom: 175px;
			span{
				color: #48d2ff;
			}
		}
	}
}
@media (min-width: 376px) {
	.wrap-login{
		width: 50%;
		margin:0 auto;
		.form{
			.login{
				width: 50%;
				margin: 0 auto;
				margin-bottom:25px;
			}
		}
	}
}